---
layout: default
---
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a {
      text-decoration: none;
      color: rgb(255, 94, 0);
      /* font-size: 30px; */
      font-weight: bold;
    }

    .fa {
      opacity: 0.6;
    }
  </style>
</head>

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
      <div class="blog-logo" {% if site.logo %}style="background-image: url({{ site.logo | prepend: site.baseurl }})"{% endif %}>
        {{ site.title }}
      </div>
    <h1 class="blog-title" style="font-size: 35px;">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a target="_blank" rel="noopener" class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}

      <strong><a href={{ "/resume/" | prepend: site.baseurl }} title="Resume">Resume</a></strong>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <strong><a href={{ "/technical/" | prepend: site.baseurl }} title="Technical Blogs">Blogs</a></strong>
    </div>
</header>


<main class="content" role="main">


  <div>
    <h3>Hello guys!</h3> 
    <p>
      I am a dedicated and enthusiastic <b>Software Engineer</b> with a passion for continuous improvement. My focus lies in cultivating expertise in areas such as <b>Cloud Computing</b>, and <b>Machine Learning</b>. I am committed to learning and advancing daily, aiming to contribute effectively to innovative projects in the dynamic world of technology.<br>
    </p>
    </div>
    <div>
      <p>
        I try to regularly write about interesting things and challenges that I face in my career life. Make sure to checkout my <a href="/technical">Blogs</a> if you're interested.
      </p>
      <p>
        You can Checkout my <a href="/resume">Resume</a>, in case you're interested!
      </p>
      <div align="center">
      <a href="https://medium.com/@homayoonalimohammadi" target="_blank" rel="noopener">
        <img src="https://img.shields.io/badge/Medium-123?style=for-the-badge&logo=Medium&logoColor=Black" />
        <a href="https://dev.to/homayoonalimohammadi" target="_blank" rel="noopener">
          <img src="https://img.shields.io/badge/Dev-123?style=for-the-badge&logo=DevTo&logoColor=Black" />
        </a>
      </div>
      <p>Here are links to my <a href="https://github.com/homayoonalimohammadi/" target="_blank" rel="noopener">GitHub</a> and <a href="https://gitlab.com/HomayoonAlimohammadi" target="_blank" rel="noopener">Gitlab</a> profile.</p>
    </div>    
    <p>
    Make sure to <b>Contact</b> me if you needed to:
    </p>
    <div align="center">
  
      <a href="https://linkedin.com/in/homayoon-alimohammadi/"  target="_blank" rel="noopener" style="text-decoration: none">
        <img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white" />
      </a>
    <a href="https://twitter.com/homayoonalm" target="_blank" rel="noopener">
    <img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=Twitter&logoColor=white" />
    </a>
    <a href="https://telegram.me/homayoonalm" target="_blank" rel="noopener">
      <img src="https://img.shields.io/badge/Telegram-26A5E4?style=for-the-badge&logo=Telegram&logoColor=white" />
      </a>
      <p style="text-align:center">
        <i id="icon-phone" style="font-size:24px" class="fa">&#xf095;</i>&nbsp;
        <i id="icon-telegram" style="font-size:22px" class="fa">&#xf2c6;</i>&nbsp;
        <i id="icon-whatsapp" style="font-size:24px" class="fa">&#xf232;</i>&nbsp;
       +98 912 0190 397
      </p>
      <p style="font-size: 18px;">
        <i style="font-size:22px" class="fa">&#xf0e0;</i>&nbsp;
         homayoonalimohammadi@gmail.com
       </p>
    
    </div>
    <br/>

</main>
